@{
    ViewData["Title"] = "Project";
}
@model ProjectViewModel

<section class="gray-content-box-padding">
    <div class="container gray-content-box">
        <h1 class="col-12 text-center text-warning" style="font-size: 48px">Projects</h1>
        <br/>
        <div class="container">
            <div class="row gy-3">
                @foreach (var project in Model.Projects.OrderBy(x => x.ProjectName))
                {
                    <div class="col-md-4">
                        <div class="card text-center" style="width: 100%">
                            <img src="@project.ImageUrl" alt="Card Image" class="img-fluid card-photo"/>
                            <div class="card-header" style="font-size: 18px">@project.ProjectName</div>
                            <div class="card-body">
                                <h5 class="card-title">Description</h5>
                                <p class="card-text">
                                    @project.Description
                                </p>
                                <button class="btn btn-primary w-75" data-bs-toggle="collapse" data-bs-target="#project_@project.Id">More Info</button>
                                <ul class="list-group list-group-flush collapse text-center" id="project_@project.Id">
                                    <li class="list-group-item">
                                        <b>Challenges:</b> <br/> @project.Challenges
                                    </li>
                                    <li class="list-group-item">
                                        <b>Solutions:</b> <br/> @project.Solutions
                                    </li>
                                    <li class="list-group-item">
                                        <b>What I learned:</b> <br/> @project.WhatILearned
                                    </li>
                                </ul>
                                <div class="card-body d-flex justify-content-center">
                                    <a href="@project.ApplicationLink" class="card-link" target="_blank" rel="noopener noreferrer">
                                        <i class="fa-brands fa-microsoft" style="color: #1797ff; font-size: 24px;"></i>
                                    </a>
                                    <a href="@project.GitHubLink" class="card-link" target="_blank" rel="noopener noreferrer">
                                        <i class="fa-brands fa-github" style="color: #1797ff; font-size: 24px;"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>